/* 
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
 */

@font-face {
    font-family: 'aduma';
    src: url('../fonts/Aduma_webfont/aduma-medium-webfont.eot');
    src: url('../fonts/Aduma_webfont/aduma-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aduma_webfont/aduma-medium-webfont.woff') format('woff'),
         url('../fonts/Aduma_webfont/aduma-medium-webfont.ttf') format('truetype'),
         url('../fonts/Aduma_webfont/aduma-medium-webfont.svg#adumamedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

* {
	margin:0;
	padding:0;	
}
header,nav,article,footer,aside,main,section{
	display:block;
}
ul,li{
	text-decoration: none;
	list-style-type: none;
}
a{
	text-decoration: none;
	color:black;
}
a:visited,a:active,a:after{
		color:black;
}
#wrapper{
	height:768px;
	width:100%;
	display:block;
	margin:0 auto;
}
#scene{
}
nav{
	height:711px;
	width:91px;
	top: 10%;
	right: 0px;
	position:fixed;
}
aside{
	height:700px;
	width:180px;
	position:fixed;
	top: 70px;
	left:0;
	background: url("../images/Frame/PensionBag.png") no-repeat center 350px;
	background-size : 150px 150px;
}
header{
	background:url("../images/Frame/Social_Twitter_S.png") no-repeat 1% 45%,
			   url("../images/Frame/Social_Facebook.png") no-repeat 5% 45%;
	height:8%;
	width:100%;
    top:0%;
    left:0%;
	position:fixed;
	z-index: 10;
}
main{
	background-color: #84c560;
	height:100%;
	width:100%;
}
#sec1{
	background:#84c560 url("../images/Screen 1/text.png") no-repeat 95% 10%;
	height:100%;
	width:100%;
}
#user{
	position:relative;
	top:20%;
	left:30%;
}
#male{
	position:relative;
	top:-20%;
	left:65%;
	outline: 0;
}
#female{
	position:relative;
	top:13%;
	left:59.3%;
	outline: 0;
}

.ui-slider-handle
{
	background: url("../images/Screen 1/Age_Button_None.png")0% 30% no-repeat !important;
    width:100px !important;
    height:100px !important;
    top:-18px !important;
    border:none !important;
}
.ui-slider-vertical{
	background: url("../images/Screen 1/Age_line_None.png")50% 50% no-repeat !important;
	border:none !important;
}

#slider-vertical{
	height:40%;
	position:relative;
    top:15%;
    left:30%;
}
input[type='range']{
		position:relative;
		top:-10%;
		left:30%;
        vertical-align: middle;
        writing-mode: bt-lr; /* IE */
		-webkit-appearance: slider-vertical; /* WebKit */
		-webkit-appearance: none;
		width: 8px;
		height: 375px;
		padding: 0 5px;
		background: url("../images/Screen 1/Age_line_None.png") no-repeat;
}
input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		margin-left:250%;
        height:120px;
        width: 100px;
        background: url("../images/Screen 1/Age_Button_None.png")no-repeat;
}
input[type='range']::-moz-range-thumb {
		-webkit-appearance: none;
		margin-left:250%;
        height: 120px;
        width: 100px;
        background: url("../images/Screen 1/Age_Button_None.png")no-repeat;
}

/* --------sec 2 --------------------------------------------------------------------*/

#sec2{	
	background:#4a9e69 url("../images/Screen 2/text.png") no-repeat 95% 10%;
	height:100%;
	width:100%;
}
#sec2>img:nth-child(1){
	margin-top:5%;
	margin-left:17%;
}
#sec2>img:nth-child(2){
	margin-top:5%;
}

/* --------sec 3 --------------------------------------------------------------------*/

#sec3{
	background:#dddddd url("../images/Screen 3/red_line.png") no-repeat center 47%;
	height:100%;
	width:100%;
}
#cin{
	position:relative;
	top:35%;
	left:32%;
}
#paycheck {
	background-color:rgba(0, 0, 0, 0);
    color:#686868;
    border: none;
    outline:none;
    height:100px;
    transition:height 1s;
    -webkit-transition:height 1s;
    font-size:30px; 
    text-align: center;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #686868;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #686868;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #686868;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #686868;
}
#paycheck:focus{
}

/* --------sec 4 --------------------------------------------------------------------*/

#sec4{
	background:#ffbf47 url("../images/Screen 3/Salary.png") no-repeat 59% 27%;
	height:100%;
	width:100%;
}
#sec5{	
	background: #4a9e69;
	height:100%;
	width:100%;
}
#sec6{	
	background: #4a9e69;
	height:100%;
	width:100%;
}
#sec7{	
	background:#dddddd;
	height:100%;
	width:100%;
}

/* --------sec 8 --------------------------------------------------------------------*/

#sec8{
	background: #4a9e69	;
	height:100%;
	width:100%;
	margin-top: 10%;
}
#envelope_up {
	position: relative;
	margin-top: -450px;
	top: 23%;
	left: 22%;
	height: 508px;
	width: 759px;
	background: url("../images/Screen 8/Envelope_Back.png") no-repeat center top;
	background-size: 75%;
	z-index: 1;
}
#envelope_down {
	position: relative;
	margin-top: -598px;
	top: 53%;
	left: 22%;
	height: 382px;
	width: 759px;
	background: url("../images/Screen 8/Envelope.png") no-repeat center 50%;
	background-size: 75%;
	z-index: 3;
}
#card {
	position: relative;
	left: 25%;
	top: 17%;
	margin-top: -250px;
	margin-left: 5px;
	height:	 380px; 
	width: 667px;
	background: url("../images/Screen 8/Card.png") no-repeat center 50%;
	background-position-y: 0px;
	background-size: 78%;
	z-index: 2;
	transition-property: height,margin-top;
	transition-duration: 0.5s;
}
#card:hover {
	height: 520px;
	margin-top: -390px;
}
/* --------sec 9 --------------------------------------------------------------------*/

#sec9{	
	background:#dddddd;
	height:100%;
	width:100%;
}
#sec10{	
	background: #4a9e69;
	height:100%;
	width:100%;
}


#percentageButtons {
	position: absolute;
	margin-left: 40%;
	margin-top: 8%;
}
#percentageInputs {
	position: absolute;
	margin-left: 27%;
	margin-top: 20%;
}
#percentageInputs>input {
	background: #FFFFFF url("../images/NIS.png") no-repeat center right;
	background-position-x: 90%;
	background-size: 15px 15px;
	text-align: center;
	border-radius: 30px;
	height: 32px;
	width: 200px;
	font-family: Walter Turncoat,aduma,Arial;
	font-size: 18px;
	font-weight: bold;
	margin-right: 12px;
	outline: none;
}
#percentageInputs>p {
	display: inline-block;
	font: 24px aduma,Arial,Geneva, sans-serif;
	float: right;
}
#percentageInputs>p:nth-child(6) {
	margin-right: 9%;  
}
#percentageInputs>p:nth-child(7), #percentageInputs>p:nth-child(8) {
	padding-right: 20%;
}




/* 
button {
	text-align: center;
	width: 80px;
	padding: 8px 10px;
	margin-right: 20px;
	font: bold 20px Walter Turncoat,Tahoma, Geneva, sans-serif;
	font-style:normal;
	color:#ffffff;
	background: #F79A00;
	border:0px solid #ffffff;
	text-shadow:0px -1px 1px #222222;
	box-shadow:-1px 2px 5px #000000;
	-moz-box-shadow:-1px 2px 5px #000000;
	-webkit-box-shadow:-1px 2px 5px #000000;
	border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	cursor:pointer;
	outline: none;
}
button:hover {
	cursor:pointer;
	position:relative;
	top:2px;
	font: bold 24px Walter Turncoat,Tahoma, Geneva, sans-serif;
}
 */

/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	margin-top: 20%;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.dotstyle li a {
	top: 400%;
	left: 100%;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}
.dotstyle li a:focus {
	outline: none;
}


/* Scale up */

.dotstyle-scaleup li a {
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover {
	background-color: white;
}

.dotstyle-scaleup li.current a {
	background-color: white;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

/* Shaked elements */

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block
}

