* {
	margin:0;
	padding:0;	
}
header,nav,article,footer,aside,main,section{
	display:block;
}
ul,li{
	text-decoration: none;
	list-style-type: none;
}
a{
	text-decoration: none;
	color:black;
}
a:visited,a:active,a:after{
		color:black;
}
#wrapper{
	height:768px;
	width:100%;
	display:block;
	margin:0 auto;
}
#scene{
}
nav{
	background-color: #2da491;
	height:711px;
	width:91px;
	top: 0px;
	right: 0px;
	position:fixed;
}
aside{
	height:711px;
	width:180px;
	position:fixed;
	bottom: 58px;
	left:0;
	background: #2da491 url(../images/man_closed_bag.png) no-repeat center 483px;
	background-size : 150px 150px;
}
footer{
	background-color: #2da491;
	height:58px;
	width:100%;
    bottom:0px;
    right:0px;
	position:fixed;
}
main{
	background-color: #2da491;
	height:100%;
	width:100%;
	
	
}
#sec1{
	background:#2da491 url(../images/placeholder.jpg) no-repeat 50% 20%;
	height:100%;
	width:100%;
}
#sec2{
	background:#6666CC url(../images/placeholder.jpg) no-repeat 50% 20%;
	height:100%;
	width:100%;
}

/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	margin-top: 20%;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.dotstyle li a {
	top: 400%;
	left: 100%;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}
.dotstyle li a:focus {
	outline: none;
}


/* Scale up */

.dotstyle-scaleup li a {
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
	background-color: white;
}

.dotstyle-scaleup li.current a {
	background-color: white;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
